# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
output/


# Environments
.env
.venv

# YouTube API credentials
credentials.json
token.pickle

data/background/
data/video/